# Enable Rewrite Engine
RewriteEngine On

# Automatically serve .html files without showing the extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# Set index.php as the default file
DirectoryIndex index.php